<head>
    <style>
        table{
            border-spacing: 0px;
            border-collapse: collapse;
        }

        .vertical-text {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            text-orientation: mixed;
            white-space: nowrap;
        }

        .header-text {
            font-weight: bold;
            text-align: center;
        }

        td {
            padding: 5px;
            max-width: 300px;
        }
    </style>
</head>

<table border="1">
    <th colspan="2">
        День/Пара
    </th>

    <#list schedules as schedule>
    <th>
        ${schedule.title}
    </th>
    </#list>

    <#list days as dayNumber>
    <#assign lessonsList = lessonsCounts?values[lessonsCounts?keys?seq_index_of(dayNumber)]>
    <#list lessonsList as lessonNumber>
    <tr>
        <#if lessonNumber?is_first>
        <td class="vertical-text header-text" rowspan="${lessonsList?size}">${rowNames[dayNumber - 1]}</td>
        </#if>
        <td class="header-text">${lessonNumber}</td>

        <#list schedules as schedule>
            <td>
                <#assign dayIndex = schedule.schedule?keys?seq_index_of(dayNumber)!-1>
                <#assign dayLessons = (dayIndex >= 0)?then(schedule.schedule?values[dayIndex], {})>

                <#assign lessonIndex = dayLessons?keys?seq_index_of(lessonNumber)!-1>
                <#assign lessons = (lessonIndex >= 0)?then(dayLessons?values[lessonIndex], [])>

                <#list lessons as lesson>
                    <#if !lesson?is_first><br></#if>
                    ${lesson.getPlainText()}
                </#list>
            </td>
        </#list>
    </tr>
    </#list>
    </#list>
</table>
</body>
</html>
